<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/product.css" />
    <title>MySales - {{ product.title }}</title>
</head>
<body>
    <h1>{{ product.title }}</h1>
    <h2>{{ product.description }}</h2>
    <img src="{{ product.image }}" width="200" height="200">
    <p>Price: {{ product.price }}</p>
    <button id="{{ product.id }}" onclick="addToCart(event)">Add to cart</button>
    <button>Buy now</button>
    <button id="{{ product.id }}" onclick="deleteProduct(event)">Delete product</button>
    <script src="/static/js/cart_add.js"></script>
    <script src="/static/js/product_delete.js"></script>
</body>
</html>