<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MySales - Products List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Price</th>
        <th>Image</th>
        <th>Add to cart</th>
        <th>Delete</th>
      </tr>
      {% for product in products %}
      <tr>
        <td>{{ product.title }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>
          <img src="{{ product.image }}" width="128" height="128" />
        </td>
        <td><button>Add to cart</button></td>
        <td>
          <button id="{{ product.id }}" onclick="deleteProduct(event)">
            Delete product
          </button>
        </td>
        <!-- <td><a href="/products/delete/{{ product.id }}">Delete Product</a></td> -->
      </tr>
      {% endfor %}
    </table>
    <script src="/static/js/product_delete.js"></script>
  </body>
</html>
