<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>MySales - Users List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>User ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Delete User</th>
      </tr>
      {% for user in users %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td><button>Delete User</button></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
