{% extends "base.html" %} {% block content %}
<h1>Register</h1>
{% for message in get_flashed_messages(category_filter=("error")) %}
<p class="error">{{ message }}</p>
{% endfor %}
<p>Please fill out the form below to create an account.</p>
<form id="register" method="post">
  <input type="text" name="username" id="username-box" placeholder="Username" required /><br />
  <div id="username_error" class="error"></div>
  <input type="password" name="password" id="password" placeholder="Password" required /><br />
  <input type="password" name="password2" id="password2" placeholder="Confirm Password" required /><br />
  <div id="password_error" class="error"></div>
  <input type="email" name="email" placeholder="Email Address" required /><br />
  <input type="text" name="first_name" placeholder="First Name" required /><br />
  <input type="text" name="last_name" placeholder="Last Name" required /><br />
  <input type="submit" value="Register" />
</form>
<script src="{{ url_for('static', filename='register.js') }}"></script>
{% endblock %}
